
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Berbagi Foundation</title>

        <!-- Bootstrap Core CSS -->
        <link th:href="@{/bootstrap/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

        <!-- Custom Fonts -->
        <link th:href="@{/bootstrap/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

        <!-- CSS -->
        <link th:href="@{/css/berbagi.min.css}" rel="stylesheet">
        <link th:href="@{/css/style.css}" rel="stylesheet">	

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries --> 
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// --> 
        <!--[if lt IE 9]>
                <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
                <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
            <![endif]-->
    </head>
    <body id="page-top" class="index">
        <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">

           

            <div class="container"> 
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i> </button>
                    <a class="navbar-brand page-scroll" href="#page-top">Berbagi.com</a></div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden"> <a href="#page-top"></a> </li>
                        <li> <a class="page-scroll" href="http://localhost:8080">Main Page</a> </li>
                        <li> <a class="page-scroll" href="#services">Services</a> </li>
                        <li> <a class="page-scroll" href="#portfolio">Activities</a> </li>
                        <li> <a class="page-scroll" href="#about">About</a> </li>
                        <li> <a class="page-scroll" href="#team">Team</a> </li>
                        
                        <li> <a class="page-scroll" href="#contact">Contact</a> </li>
                        
                        <li> <a onclick="return confirm('Are you sure ?')" class="tombol-login" href="IndexServlet"><img th:src="@{/img/login-20.png}"  /> Logout</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse --> 
            </div>
            <!-- /.container-fluid --> 
        </nav>


        <!-- Navigation -->


        <!-- Header -->
        <header>
    
            <div class="container">
                <div class="intro-text">
                    <div class="intro-lead-in">Welcome To Our Foundation</div>
                    <div class="intro-heading">HELLO <span th:text="${session.name}"></span>!</div>
                    <a href="#services" class="page-scroll btn btn-xl">DASHBOARD</a> </div>
            </div>
        </header>

        
        <!-- DONATION SECTION -->
<section id="donation">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">DONATION FORM</h2>
        <h3 class="section-subheading text-muted">Please fullfil the donation form.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <form name="donationform"  action="" method="post" >
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                  <input type="text" class="form-control" placeholder="Your Name *" name="namadonasi" id="namadonasi" required data-validation-required-message="Please enter your name." value="<%=session.getAttribute("usernameakun")%>" >
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <input type="number" class="form-control" placeholder="Total Donation *" name="totaldonasi" id="totaldonasi" min="10000" required data-validation-required-message="Please enter your total donation.">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <input type="file" class="form-control" placeholder="Payment Receipt *" name="receiptdonasi" id="receiptdonasi" min="0" required data-validation-required-message="Please enter your receipt number." accept="image/gif,image/jpeg,image/jpg,image/png,">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                  <select class="form-control" id="katagoridonasi" name="katagoridonasi" required>
                      <option value="">--SELECT CATEGORY--</option>
                      <option value="Pembangunan Masjid">Pembangunan Masjid</option>
                      <option value="Pembangunan Pusat Dagang">Pembangunan Pusat Dagang</option>
                      <option value="Pembangunan Jembatan">Pembangunan Jembatan</option>
                      <option value="Pembangunan Pesantren">Pembangunan Pesantren</option>
                      <option value="Penggalangan Dana">Penggalangan Dana</option>
                      <option value="Beasiswa Anak Yatim">Beasiswa Anak Yatim</option>
                  </select>
                <p class="help-block text-danger"></p>
              </div>
                <div class="form-group">
                    <select class="form-control" id="metodedonasi" name="metodedonasi" required >
                      <option value="">--SELECT PAYMENT--</option>
                      <option value="OVO">OVO</option>
                      <option value="DANA">DANA</option>
                      <option value="BCA">BCA</option>
                      <option value="MANDIRI">MANDIRI</option>
                      <option value="SHOPEEPAY">SHOPEEPAY</option>
                      <option value="GO-PAY">GO-PAY</option>
                  </select>
                <p class="help-block text-danger"></p>    
                </div>
                <a class="btn btn-warning" href="#portfolioModaldonasi" class="portfolio-link" data-toggle="modal">How To Donation</a>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-12 text-center">
             
              <input onclick="return confirm('Are you sure ?')" type="submit" value="Send Donation" class="btn btn-xl">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
       
        <footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4"> <span class="copyright">Copyright &copy; Berbagi.com 2021</span></div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li><a href="https://www.instagram.com/berbagicom/" target="_blank"><i class="fa fa-instagram"></i></a> </li>
          <li><a href="https://www.youtube.com/channel/UC0G0ZZGqxz-sFDaPQ82b9Mw?view_as=subscriber" target="_blank"><i class="fa fa-youtube"></i></a> </li>
          <li><a href="https://www.linkedin.com/feed/?trk=homepage-basic_google-one-tap-submit"target="_blank"><i class="fa fa-linkedin"></i></a> </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-inline quicklinks">
          <li><a href="#">Privacy Policy</a> </li>
          <li><a href="#">Terms of Use</a> </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
 
</body>
</html>
